*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}
.form-title {
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


form label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}
@media (max-width: 768px) {
    form {
        width: 80%; 
    }
}

@media (max-width: 480px) {
    form {
        width: 90%; 
        padding: 15px; 
    }

    form label {
        font-size: 14px; 
    }

    form input {
        font-size: 12px; 
        padding: 8px; 
    }

    form button {
        font-size: 14px; 
        padding: 8px;
    }
}