* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tbl1{
    width: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    border-collapse: collapse;
}

.tbl1 th{
    background-color: #bdbaba;
    padding: 12px 15px;
}
td{
    padding: 12px 15px;
}
th, td{
    border: 2px solid black;
}
.data{
    text-align: center;
}
.Link{
    text-decoration: none;
    color: black;
    font-size: 16px;
    margin: 10px 0;
    display: inline-block;
}
.tbl1 button {
    padding: 6px 12px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
    border-radius: 4px;
    margin-right: 8px;
}
div{
    padding: 20px 55px;
}

.create-user-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
